{% from "helper.html" import render_field %}
<title>Fahrraddiebstahl Berlin Visualizer</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>Fahrraddiebstahl Berlin Visualizer</h2>
    <form action="" method="post" role="form">
        {{ form.csrf }}
        {{ render_field(form.district) }}
        {{ render_field(form.plr) }}
        {{ render_field(form.biketype) }}
        {{ render_field(form.attempts) }}
        {{ render_field(form.damage_min) }}
        {{ render_field(form.damage_max) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.end_date) }}
        {{ render_field(form.nbins) }}
     
        <button type="submit" class="btn btn-success">Show</button>
    </form>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    
    <div class="alert alert-info">
                <strong>Erfolg! </strong> Sehen Sie sich unten die Grafik an.</div>

    {% endfor %}
{% endif %}
{% endwith %}
<img src="{{ image }}" alt="Fülle zuerst das Formular aus.">
</div>